html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .container {
            flex: 1;
        }
        .footer {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 1rem 0;
        }
        .footer a {
            color: white;
        }

.question {
    margin-bottom: 20px;
}

button.btn-primary {
    margin-bottom: 20px; 
}


