{% extends "base.html" %}

{% block title %}O nas{% endblock %}

{% block content %}
<main class="container mt-5">
    <h1>O nas</h1>
    <p>Witamy na naszej stronie! Nasza misja to zapewnienie najlepszej jakości usług w zakresie skanowania kodów QR, zarządzania profilami użytkowników, quizów oraz osiągnięć. Chcemy, aby nasi użytkownicy mogli łatwo i szybko znajdować potrzebne informacje i czerpać radość z korzystania z naszych usług.</p>

    <h2>Nasza Historia</h2>
    <p>Nasza firma została założona w 2021 roku przez zespół entuzjastów technologii, którzy chcieli stworzyć platformę, która ułatwi życie użytkownikom. Od tego czasu rozwijamy naszą aplikację, dodając nowe funkcje i usprawniając istniejące.</p>

    <h2>Nasze Wartości</h2>
    <ul>
        <li><strong>Jakość:</strong> Dążymy do tego, aby nasze usługi były na najwyższym poziomie.</li>
        <li><strong>Innowacyjność:</strong> Stale poszukujemy nowych rozwiązań, aby ulepszać naszą platformę.</li>
        <li><strong>Użytkownik:</strong> Naszym priorytetem jest zadowolenie użytkowników i dostarczanie im wartościowych funkcji.</li>
    </ul>

    <h2>Nasz Zespół</h2>
    <p>Nasz zespół składa się z doświadczonych programistów, projektantów i specjalistów ds. obsługi klienta, którzy pracują razem, aby dostarczyć najlepsze możliwe doświadczenie użytkownikom naszej platformy.</p>
</main>
{% endblock %}
