{% extends "base.html" %}

{% block title %}O nas{% endblock %}

{% block content %}
<main class="container mt-5">
    <h1>O nas</h1>
    <p>Witamy na naszej stronie! Jesteśmy grupą studentów, którzy postanowili stworzyć aplikację, która pozwoli na szybką i przyjemną naukę znaków żeglaskich poprzez zabawę. Nasza aplikacja skierowana jest do osób zainteresowanych żeglarstwem które chcą nauczyć się szybko i przyjemnie potrzebnych w swojej pasji znaków oraz ludzi spoza kręgu żeglarzy, których chcemy przyciągnąć i zainteresować temate żeglugi.</p>

    <h2>Nasza Historia</h2>
    <p>Nasza przygoda z tym projektem rozpoczęła się w 2024 roku, kiedy w ramach studenckiego projektu postanowiliśmy stworzyć ciekawą i użyteczną aplikację w oparciu o którą zaliczymy kurs. Chcemy aby nasza aplikacja miała potencjał do rozwoju, ulepszania i była interesująca dla potencjalnych użytkowników.</p>

</main>
{% endblock %}
