{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Your App</h1>
    <p class="lead">This is a simple Flask application with Bootstrap integration.</p>
    <hr class="my-4">
    <p>It includes registration and login functionality.</p>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>
</div>
{% endblock %}
